<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Home | Brainly Clone
    </title>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div class="navbar">
        <h1>Brainly Clone</h1>
    </div>

    <div class="loginContainer">
        <button class="btn" onclick=location.href="/login?m=login">Login</button>
        <button class="btn" onclick=location.href="/login?m=register">Register</button>
    </div>

    <div class="search-box">
        <input type="text" class="search" />
        <button class="search-btn btn">Search</button>
    </div>
    <button class="btn btn-right" onclick=location.href="/newQuery">+ New Question</button>

    <div class="recent-questions">
        <h2 class="recent-title">Recent Questions</h2>
        <div class="main-questions-container">
            <div class="card-1 card">
                <h3>Chinmay Kulthe</h3>
                <p>12/06/2007</p>
                <p>What's the Computer ?</p>
            </div>
            <div class="card-1 card">
                <h3>Chinmay Kulthe</h3>
                <p>12/06/2007</p>
                <p>What's the Computer ?</p>
            </div>
            <div class="card-1 card">
                <h3>Chinmay Kulthe</h3>
                <p>12/06/2007</p>
                <p>What's the Computer ?</p>
            </div>
            <div class="card-1 card">
                <h3>Chinmay Kulthe</h3>
                <p>12/06/2007</p>
                <p>What's the Computer ?</p>
            </div>
            <div class="card-1 card">
                <h3>Chinmay Kulthe</h3>
                <p>12/06/2007</p>
                <p>What's the Computer ?</p>
            </div>
        </div>
    </div>
</body>

</html>