<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/style.css">
    <title>New Query | Brainly Clone</title>
</head>

<body>
    <div class="loginFormContainer">
        <h2>New Query</h2>

        <form action="">

            <label for="query" class="label">Your Query ?</label>
            <textarea name="query" id="query"></textarea>

            <label for="query" class="label">Image</label>
            <input type="file" name="image" id="image">

            <label for="category" class="label">Category</label>
            <select type="file" name="category" id="category">
                <option value="science">Science</option>
                <option value="science">Maths</option>
                <option value="science">Computer Science</option>
                <option value="science">Tech</option>
                <option value="science">Social Studies</option>
            </select>
            <button>Ask</button>
        </form>
    </div>
</body>

</html>