* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  background-image: linear-gradient(#1e3799, #6a89cc, #4a69bd);
  color: white;
}

.btn-right {
  float: right;
}

.navbar {
  /* margin: 1px; */
  padding: 10px;
  background-image: linear-gradient(#1e9989, #6accc7, #008080);
  text-align: center;
}

.btn {
  margin: 4px;
  padding: 10px;
  border-radius: 7px;
  background-image: linear-gradient(#1e9989, #6accc7, #008080);
  cursor: pointer;
  color: white;
  border: none;
}

.search-box {
  padding: 5px;
  text-align: center;
}

.search {
  width: 30%;
  padding: 7px;
  outline: none;
}

.recent-title {
  margin-top: 25px;
  margin-left: 2px;
  margin-left: 12px;
}

.main-questions-container {
  margin: 6px;
  /* padding: 5px; */
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* border: 2px solid white; */
  background-image: linear-gradient(#1e9989, #6accc7, #008080);
  padding: 5%;
  border-radius: 10px;
  width: fit-content;
  margin-left: 5px;
  margin-top: 5px;
}

.card p {
  margin-top: 5px;
}
